flows/find_friend
[{"id":"15df5f8c.30af4","type":"subflow","name":"tableSOStatus (2)","info":"recuperate the status of the table. \nThe required information are : \n1. tableOSId \n2. accessToken","in":[{"x":223,"y":159.99999237060547,"wires":[{"id":"e06eba52.b58758"}]}],"out":[{"x":1045.9999694824219,"y":138.9999771118164,"wires":[{"id":"e534565a.99e598","port":0}]},{"x":1008.9999694824219,"y":245.99999237060547,"wires":[{"id":"e06eba52.b58758","port":1}]}]},{"id":"e06eba52.b58758","type":"function","z":"15df5f8c.30af4","name":"table status request building","func":"msg.data = msg.payload;\nif(msg.payload.tableSOId !== undefined /*&& data.accessToken !== undefined*/){\n    var url = \"http://api.servioticy.com/\";\n    url += msg.data.tableSOId;\n    url += '/streams/info/lastUpdate';\n    msg.url = url;\n    msg.headers = { \"Authorization\" : \"ZGQ5NDgyYjktOTkzYS00ZGM3LWFlNGItZGQxYjMwZGE4ZWU2NTUzNjJmOTAtZTNjNy00ZWViLWEyZWItNTA3NzMzODc2ODg4\" };\n    msg.method = \"GET\";\n    msg.payload = {};\n    return [msg,null];\n}else{\n    msg.payload = {};\n    msg.payload.error = true;\n    msg.payload.errorMsg = \"We are sorry. A required information was missing.\";\n    return [null, msg];\n}","outputs":"2","noerr":0,"x":418.5,"y":161.00000762939453,"wires":[["b1f2df56.84992"],[]]},{"id":"b1f2df56.84992","type":"http request","z":"15df5f8c.30af4","name":"","method":"use","ret":"txt","url":"","x":686.5,"y":119.33332061767578,"wires":[["e534565a.99e598"]]},{"id":"e534565a.99e598","type":"json","z":"15df5f8c.30af4","name":"","x":858.5,"y":138.00001525878906,"wires":[[]]},{"id":"7b19fd7f.0fa404","type":"inject","z":"3cfcec57.4acef4","name":"","topic":"","payload":"{\"screenName\":\"okba16\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":469.2535705566406,"y":1050.540771484375,"wires":[["d5e4db5d.1ce538"]]},{"id":"d5e4db5d.1ce538","type":"function","z":"3cfcec57.4acef4","name":"get occupied tables request building","func":"var tablesSOId = [\n  \"1460204536267d04df543fe9e4e3eab3e40bcdf60fd02\",\n  \"146020458494938a10935b8544c249b9c7661483555ed\",\n  \"146020458495377cfb0b06a0b4d518c89790c42fc439f\",\n  \"14602045849584631a3d3570447fcb1c2fbfba14e190e\",\n  \"1460204584958fc401fe4886c45a1a080165c7e812194\",\n  \"14602045849851b2b83da1c3e4d68a0ee67a7d1186442\",\n  \"14602045849899d9e2a0bf7e94613b2e7b490284e6080\",\n  \"146020458500266e36409cd7a4f6d9bae23ab8fd7843b\",\n  \"1460204585006b91ab4b07ff54f98aea2c2932d0ae6ba\",\n  \"14602045850128dd53a0708654275ac6887b56992cc16\",\n  \"14602045850172bc258cfb33f47348f79f30c3caeabe3\",\n  \"1460204585021e3afe5adaa0b4dd0971537525ba7d235\",\n  \"1460204585029b21900619d894cbb97be994b692e3b93\",\n  \"1460204585029b3eb1af51ba649fcb0b6a279554436a9\",\n  \"1460204585033667eee2d546043cf8b6bf3c600cb72e6\",\n  \"14602045850411c79c9db6ef744bd978633f7cc67e028\",\n  \"1460204585057b417af7395a24455b20d1d0ea9255a5f\",\n  \"14602045850698cc5fc70194c4af7bf9adc12fdb64f2c\",\n  \"1460204585071c68b5f03f0ca4627a3e81f4ba5c7120a\",\n  \"14602045850784215b9d8482945e299c3c5e602510b04\",\n  \"14602045850902426014864c84eaeb8fd0be6768546fd\",\n  \"14602045850908dfd2d08abcc43e5be0414ea35241522\",\n  \"1460204585090c0c44803da3b475ba66c7c8917821630\",\n  \"14602045850997879c0c0565e4c45bc57fa6268960a06\",\n  \"146020458510207c9091b1b0f4bb7baa0f68cf4c3e8eb\",\n  \"14602045851062e0f9cae5ea44ffab3d99e4b99b6f2da\",\n  \"14602045851154220641bcd4d4b11a6cf5cbfc5a35849\",\n  \"146020458511844aa545ee2d149309e6ae6b023490387\"\n];\nif(msg.table === undefined){\n    msg.table = 0;\n    msg.first = true;\n    global.set(\"occupiedTablesIds\",[]);\n    global.set(\"cpt\",0);\n    msg.screenName = msg.payload.screenName;\n}else{\n    msg.first = false;\n}\nmsg.payload.tableSOId = tablesSOId[msg.table];\n\nreturn msg;","outputs":1,"noerr":0,"x":861.0184020996094,"y":1031.7878112792969,"wires":[["214291b6.0bbfbe","8d2085dd.433cf8","6fac84ad.d74d9c"]]},{"id":"214291b6.0bbfbe","type":"function","z":"3cfcec57.4acef4","name":"msg.table ++","func":"if(msg.table < 27){\n    msg.table++;\n    return msg;\n}\n    \n","outputs":1,"noerr":0,"x":870.2436218261719,"y":1163.247085571289,"wires":[["d5e4db5d.1ce538"]]},{"id":"8c5387f4.181598","type":"function","z":"3cfcec57.4acef4","name":"","func":"var status = msg.payload.data[0].channels.status['current-value'];\nvar tableId = msg.data.tableSOId;\nvar otIds = global.get('occupiedTablesIds');\nvar cpt = global.get('cpt') + 1;\nvar currentcpt =  global.get('cpt') + 1;\nglobal.set('cpt', cpt);\n\nif(status !== 'free'){\n    var userSOId = msg.payload.data[0].channels.occupiedBy['current-value'];\n    var userScreenName = msg.payload.data[0].channels.userScreenName['current-value'];\n    if(msg.screenName === userScreenName){\n        otIds.push({'tableId':msg.table+1,'tableSOId':tableId,'userSOId':userSOId, 'screenName':userScreenName});\n        global.set('occupiedTablesIds', otIds);\n    }\n}\n\nif(cpt >=28){\n    msg.payload = otIds;\n    return msg;\n}\n\n\n","outputs":1,"noerr":0,"x":1335.2529602050781,"y":826.2469177246094,"wires":[["55ce8c00.296244","9f974225.d000d"]]},{"id":"381d4143.7ed17e","type":"http in","z":"3cfcec57.4acef4","name":"Find Occupied Tables","url":"/tables/occupiedby","method":"post","swaggerDoc":"","x":546.2456665039062,"y":960.4769592285156,"wires":[["d5e4db5d.1ce538"]]},{"id":"a7635fc1.3c9b","type":"comment","z":"3cfcec57.4acef4","name":"Documentation","info":"Find the tables occupied by a person has screenName","x":537.2488708496094,"y":861.9798583984375,"wires":[]},{"id":"55ce8c00.296244","type":"debug","z":"3cfcec57.4acef4","name":"","active":false,"console":"false","complete":"false","x":1611.2465515136719,"y":1054.157958984375,"wires":[]},{"id":"8d2085dd.433cf8","type":"debug","z":"3cfcec57.4acef4","name":"","active":false,"console":"false","complete":"false","x":1287.2460632324219,"y":1099.3812866210938,"wires":[]},{"id":"380a5414.bf0a0c","type":"debug","z":"3cfcec57.4acef4","name":"","active":false,"console":"false","complete":"false","x":1138.0184020996094,"y":818.7878952026367,"wires":[]},{"id":"9f974225.d000d","type":"http response","z":"3cfcec57.4acef4","name":"","x":1598.2430114746094,"y":811.3417205810547,"wires":[]},{"id":"6fac84ad.d74d9c","type":"subflow:15df5f8c.30af4","z":"3cfcec57.4acef4","name":"","x":1224.4955825805664,"y":1030.4281616210938,"wires":[["8c5387f4.181598","380a5414.bf0a0c"],["55ce8c00.296244"]]}]