flows/groups_management
[{"id":"d0d2f564.ee1898","type":"http in","z":"1e131fe6.5b7a4","name":"Add user to group library","url":"/addusertogrouplibrary","method":"post","swaggerDoc":"","x":355.7344055175781,"y":289.3082046508789,"wires":[["9fb200d0.9d7b"]]},{"id":"9fb200d0.9d7b","type":"function","z":"1e131fe6.5b7a4","name":"GroupLibrary Admin login","func":"msg.data = msg.payload;\n\nmsg.url = 'http://idm4.147.83.30.133.xip.io/auth/user/';\nmsg.method = 'POST';\nmsg.payload = {};\nmsg.payload.username = 'passauLibrary';\nmsg.payload.password = 'passauLib';\nreturn msg;","outputs":1,"noerr":0,"x":667.7371826171875,"y":289.0536880493164,"wires":[["20cb74d4.aecd5c"]]},{"id":"20cb74d4.aecd5c","type":"http request","z":"1e131fe6.5b7a4","name":"","method":"use","ret":"txt","url":"","x":903.7478637695312,"y":262.9303665161133,"wires":[["43e69f5a.a3b49"]]},{"id":"43e69f5a.a3b49","type":"json","z":"1e131fe6.5b7a4","name":"","x":1143.7411499023438,"y":216.8258285522461,"wires":[["cc42152.92b79e8","20678202.bf60ee"]]},{"id":"20678202.bf60ee","type":"function","z":"1e131fe6.5b7a4","name":"Approuve group membership","func":"var membershipId = msg.data.membershipId;\nvar lastModified = msg.data.lastModified;\nvar accessToken = \"Bearer \" + msg.payload.accessToken;\n\nmsg.url = 'http://idm4.147.83.30.133.xip.io:80/idm/memberships/approve/' + membershipId;\nmsg.method = 'PUT';\nmsg.headers = { \"Authorization\" : accessToken, \"If-Unmodified-Since\" : lastModified};\nmsg.payload = {};\nreturn msg;\n","outputs":1,"noerr":0,"x":1186.7566528320312,"y":383.99756622314453,"wires":[["fb018ea1.8a48a","f79066a.2519098"]]},{"id":"fb018ea1.8a48a","type":"http request","z":"1e131fe6.5b7a4","name":"","method":"use","ret":"txt","url":"","x":1423.7556762695312,"y":449.9234390258789,"wires":[["dab616ad.3a7fc8","f317bee9.6b2ba","bacbd02.313793"]]},{"id":"dab616ad.3a7fc8","type":"debug","z":"1e131fe6.5b7a4","name":"","active":true,"console":"false","complete":"false","x":1557.7566528320312,"y":543.1443099975586,"wires":[]},{"id":"cc42152.92b79e8","type":"debug","z":"1e131fe6.5b7a4","name":"","active":true,"console":"false","complete":"false","x":1386.7496948242188,"y":221.14263153076172,"wires":[]},{"id":"f79066a.2519098","type":"debug","z":"1e131fe6.5b7a4","name":"","active":true,"console":"false","complete":"headers","x":1191.514892578125,"y":523.5407104492188,"wires":[]},{"id":"73f94536.0cfefc","type":"http in","z":"1e131fe6.5b7a4","name":"add and approuve user attribute ","url":"/user/attribute","method":"post","swaggerDoc":"","x":287.7364501953125,"y":621.2429580688477,"wires":[["2009cc56.047d34"]]},{"id":"2009cc56.047d34","type":"function","z":"1e131fe6.5b7a4","name":"GroupLibrary Admin login","func":"var userId = msg.payload.userId;\nvar attributeId = msg.payload.attributeId;\nvar value = msg.payload.value;\nvar accessToken = \"Bearer \" + msg.payload.accessToken;\n\nmsg.url = 'http://idm4.147.83.30.133.xip.io:80/idm/attribute_values/user/' + userId+'/';\nmsg.method = 'POST';\nmsg.headers = { \"Authorization\" : accessToken,\"Content-Type\": \"application/json;charset=UTF-8\"};\nmsg.payload = '{\"attribute_definition_id\":\"'+ attributeId +'\",\"value\":\"'+ value +'\"}';\nreturn msg;\n\n","outputs":1,"noerr":0,"x":626.5148315429688,"y":614.5406875610352,"wires":[["4fecd2b3.ddaedc"]]},{"id":"4fecd2b3.ddaedc","type":"http request","z":"1e131fe6.5b7a4","name":"","method":"use","ret":"txt","url":"","x":873.5148315429688,"y":612.5406875610352,"wires":[["e717f9d4.6a7378","53aa5a7a.4fa414"]]},{"id":"e717f9d4.6a7378","type":"debug","z":"1e131fe6.5b7a4","name":"","active":true,"console":"false","complete":"false","x":1329.5149536132812,"y":647.5406875610352,"wires":[]},{"id":"f317bee9.6b2ba","type":"http response","z":"1e131fe6.5b7a4","name":"","x":1617.7463989257812,"y":432.10359954833984,"wires":[]},{"id":"f30f8b14.b27f58","type":"function","z":"1e131fe6.5b7a4","name":"GroupLibrary Admin login","func":"msg.data = msg.payload;\n\nmsg.url = 'http://idm4.147.83.30.133.xip.io/auth/user/';\nmsg.method = 'POST';\nmsg.payload = {};\nmsg.payload.username = 'passauLibrary';\nmsg.payload.password = 'passauLib';\nreturn msg;","outputs":1,"noerr":0,"x":837.5148315429688,"y":769.5406875610352,"wires":[["1b61ab8e.df9d44"]]},{"id":"1b61ab8e.df9d44","type":"http request","z":"1e131fe6.5b7a4","name":"","method":"use","ret":"txt","url":"","x":1075.5255737304688,"y":765.4173355102539,"wires":[["b4483345.27d62"]]},{"id":"b4483345.27d62","type":"json","z":"1e131fe6.5b7a4","name":"","x":1238.5188598632812,"y":780.3128433227539,"wires":[["2dd048ef.0a8f98"]]},{"id":"2dd048ef.0a8f98","type":"function","z":"1e131fe6.5b7a4","name":"Approuve attribute value","func":"var attributeValueId = msg.data.id;\nvar lastModified = msg.data.lastModified;\nvar accessToken = \"Bearer \" + msg.payload.accessToken;\n\nmsg.url = 'http://idm4.147.83.30.133.xip.io:80/idm/attribute_values/approve/' + attributeValueId;\nmsg.method = 'PUT';\nmsg.headers = { \"Authorization\" : accessToken, \"Content-Type\":\"application/json;charset=UTF-8\" , \"If-Unmodified-Since\" : lastModified};\nmsg.payload = {};\nreturn msg;","outputs":1,"noerr":0,"x":1200.514892578125,"y":912.5407104492188,"wires":[["32f3437c.4fc59c"]]},{"id":"32f3437c.4fc59c","type":"http request","z":"1e131fe6.5b7a4","name":"","method":"use","ret":"txt","url":"","x":1475.514892578125,"y":889.5407104492188,"wires":[["8bd9ae97.0e63a","6efb509e.4e87"]]},{"id":"8bd9ae97.0e63a","type":"debug","z":"1e131fe6.5b7a4","name":"","active":true,"console":"false","complete":"false","x":1574.514892578125,"y":715.5407104492188,"wires":[]},{"id":"53aa5a7a.4fa414","type":"json","z":"1e131fe6.5b7a4","name":"","x":1094.5149536132812,"y":677.5406875610352,"wires":[["f30f8b14.b27f58"]]},{"id":"bacbd02.313793","type":"json","z":"1e131fe6.5b7a4","name":"","x":1610.514892578125,"y":353.5407409667969,"wires":[[]]},{"id":"6efb509e.4e87","type":"http response","z":"1e131fe6.5b7a4","name":"","x":1803.5,"y":888,"wires":[]},{"id":"8b3eb5aa.d62978","type":"http in","z":"1e131fe6.5b7a4","name":"delete group","url":"/groups","method":"delete","swaggerDoc":"","x":605.5148315429688,"y":1885.5406494140625,"wires":[["bc09d3b2.1f4ad","12228712.7f38f9"]]},{"id":"a1938401.c0f658","type":"http response","z":"1e131fe6.5b7a4","name":"","x":1468.5148620605469,"y":1688.8739776611328,"wires":[]},{"id":"bc09d3b2.1f4ad","type":"function","z":"1e131fe6.5b7a4","name":"Request building","func":"msg.url = 'http://idm4.147.83.30.133.xip.io/idm/group/' + msg.payload.groupId;\nmsg.method  = 'DELETE';\nmsg.headers = {\n    'Content-Type' : 'application/json;charset=UTF-8',\n    'Authorization' : msg.payload.accessToken, \n    'If-Unmodified-Since' : msg.payload.lastUpdate\n};\nreturn msg;","outputs":1,"noerr":0,"x":857.5148315429688,"y":1885.8739776611328,"wires":[["35bd2d8f.dc68a2"]]},{"id":"18726a11.9759d6","type":"debug","z":"1e131fe6.5b7a4","name":"","active":true,"console":"false","complete":"payload","x":1318.5148620605469,"y":1884.5406646728516,"wires":[]},{"id":"35bd2d8f.dc68a2","type":"http request","z":"1e131fe6.5b7a4","name":"Delete group","method":"use","ret":"txt","url":"","x":1073.7645874023438,"y":1885.1913757324219,"wires":[["18726a11.9759d6","a1938401.c0f658"]]},{"id":"4962364.07330c8","type":"http in","z":"1e131fe6.5b7a4","name":"The members of a group","url":"/groupmembers","method":"get","swaggerDoc":"","x":581.753173828125,"y":2072.5023345947266,"wires":[["94d861ed.9905a","983ca904.1bab38"]]},{"id":"94d861ed.9905a","type":"function","z":"1e131fe6.5b7a4","name":"Request building","func":"msg.url = 'http://idm4.147.83.30.133.xip.io/idm/group_users/' + msg.payload.groupId +'/';\nmsg.method  = 'GET';\nmsg.headers = {\n    'Content-Type' : 'application/json;charset=UTF-8',\n    'Authorization' : msg.payload.accessToken\n};\nreturn msg;","outputs":1,"noerr":0,"x":860.5296630859375,"y":2068.748062133789,"wires":[["983ca904.1bab38","1b4bf0f2.1504bf"]]},{"id":"1b4bf0f2.1504bf","type":"http request","z":"1e131fe6.5b7a4","name":"Get Group's members","method":"use","ret":"txt","url":"","x":1127.5296630859375,"y":2019.748062133789,"wires":[["4f2cd0cc.35b59","983ca904.1bab38"]]},{"id":"4f2cd0cc.35b59","type":"http response","z":"1e131fe6.5b7a4","name":"","x":1358.5297241210938,"y":2018.748062133789,"wires":[]},{"id":"983ca904.1bab38","type":"debug","z":"1e131fe6.5b7a4","name":"","active":true,"console":"false","complete":"payload","x":1314.5296630859375,"y":2144.748001098633,"wires":[]},{"id":"a89c47b8.964338","type":"http in","z":"1e131fe6.5b7a4","name":"Get all the users of the application","url":"/allusers","method":"get","swaggerDoc":"","x":551.7676391601562,"y":2311.493667602539,"wires":[["95ca0e34.2fbbf"]]},{"id":"95ca0e34.2fbbf","type":"function","z":"1e131fe6.5b7a4","name":"GroupLibrary Admin login","func":"var libraryGroupId = '64f0a9be-464c-48a6-ac0f-ae341f0b583f';\nmsg.url = 'http://idm4.147.83.30.133.xip.io/idm/group_users/' + libraryGroupId +'/';\nmsg.method  = 'GET';\nmsg.headers = {\n    'Content-Type' : 'application/json;charset=UTF-8',\n    'Authorization' : msg.payload.accessToken\n};\nreturn msg;","outputs":1,"noerr":0,"x":864.5296630859375,"y":2309.748001098633,"wires":[["7d21a82.e969d58"]]},{"id":"7d21a82.e969d58","type":"http request","z":"1e131fe6.5b7a4","name":"","method":"use","ret":"txt","url":"","x":1083.5403442382812,"y":2310.6246490478516,"wires":[["570f8c23.2175e4"]]},{"id":"570f8c23.2175e4","type":"debug","z":"1e131fe6.5b7a4","name":"","active":true,"console":"false","complete":"payload","x":1275.5297241210938,"y":2310.748001098633,"wires":[]},{"id":"12228712.7f38f9","type":"debug","z":"1e131fe6.5b7a4","name":"","active":true,"console":"false","complete":"payload","x":766.5296630859375,"y":1749.7480545043945,"wires":[]},{"id":"c8f2e54d.3fb308","type":"inject","z":"1e131fe6.5b7a4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":527.7695007324219,"y":1959.4976501464844,"wires":[["bc09d3b2.1f4ad"]]},{"id":"420b861b.d21208","type":"http in","z":"1e131fe6.5b7a4","name":"Accept invitation","url":"/acceptinvitation","method":"post","swaggerDoc":"","x":628.7623901367188,"y":2608.451287501567,"wires":[["d513369c.f75d78"]]},{"id":"d513369c.f75d78","type":"function","z":"1e131fe6.5b7a4","name":"Accept invitation building request","func":"msg.url = 'http://idm4.147.83.30.133.xip.io/idm/memberships/approve/' + msg.payload.invitationId;\nmsg.method  = 'PUT';\nmsg.headers = {\n    'Content-Type' : 'application/json;charset=UTF-8',\n    'Authorization' : msg.payload.accessToken, \n    'If-Unmodified-Since' : msg.payload.lastUpdate\n};\nreturn msg;","outputs":1,"noerr":0,"x":920.75634765625,"y":2620.1994400024414,"wires":[["5a9cf538.551b1c"]]},{"id":"5a9cf538.551b1c","type":"http request","z":"1e131fe6.5b7a4","name":"","method":"use","ret":"txt","url":"","x":1249.7621459960938,"y":2610.1379165649414,"wires":[["78d31524.3ea77c"]]},{"id":"78d31524.3ea77c","type":"http response","z":"1e131fe6.5b7a4","name":"","x":1457.75830078125,"y":2620.307777404785,"wires":[]},{"id":"7e114835.3cc8c8","type":"http in","z":"1e131fe6.5b7a4","name":"Decline invitation","url":"/declineinvitation","method":"post","swaggerDoc":"","x":559.5296630859375,"y":2737.7480850219727,"wires":[["768e3164.b6b5a"]]},{"id":"768e3164.b6b5a","type":"function","z":"1e131fe6.5b7a4","name":"Decline invitation building request","func":"msg.url = 'http://idm4.147.83.30.133.xip.io/idm/memberships/' + msg.payload.invitationId;\nmsg.method  = 'DELETE';\nmsg.headers = {\n    'Content-Type' : 'application/json;charset=UTF-8',\n    'Authorization' : msg.payload.accessToken, \n    'If-Unmodified-Since' : msg.payload.lastUpdate\n};\nreturn msg;","outputs":1,"noerr":0,"x":851.5236206054688,"y":2749.496237522847,"wires":[["3dce175.7d7e7e8"]]},{"id":"3dce175.7d7e7e8","type":"http request","z":"1e131fe6.5b7a4","name":"","method":"use","ret":"txt","url":"","x":1180.5294189453125,"y":2739.434714085347,"wires":[["de907eea.dbfbc"]]},{"id":"de907eea.dbfbc","type":"http response","z":"1e131fe6.5b7a4","name":"","x":1388.5255737304688,"y":2749.6045749251907,"wires":[]}]