flows/seat_status
[{"id":"27eb140b.cb28bc","type":"subflow","name":"tableSOStatus","info":"recuperate the status of the table. \nThe required information are : \n1. tableOSId \n2. accessToken","in":[{"x":223,"y":159.99999237060547,"wires":[{"id":"f22dd067.f0629"}]}],"out":[{"x":1045.9999694824219,"y":138.9999771118164,"wires":[{"id":"697eab89.d9de54","port":0}]},{"x":1008.9999694824219,"y":245.99999237060547,"wires":[{"id":"f22dd067.f0629","port":1}]}]},{"id":"f22dd067.f0629","type":"function","z":"27eb140b.cb28bc","name":"table status request building","func":"msg.data = msg.payload;\nif(msg.payload.tableSOId !== undefined /*&& data.accessToken !== undefined*/){\n    var url = \"http://api.servioticy.com/\";\n    url += msg.data.tableSOId;\n    url += '/streams/info/lastUpdate';\n    msg.url = url;\n    msg.headers = { \"Authorization\" : \"ZGQ5NDgyYjktOTkzYS00ZGM3LWFlNGItZGQxYjMwZGE4ZWU2NTUzNjJmOTAtZTNjNy00ZWViLWEyZWItNTA3NzMzODc2ODg4\" };\n    msg.method = \"GET\";\n    msg.payload = {};\n    return [msg,null];\n}else{\n    msg.payload = {};\n    msg.payload.error = true;\n    msg.payload.errorMsg = \"We are sorry. A required information was missing.\";\n    return [null, msg];\n}","outputs":"2","noerr":0,"x":418.5,"y":161.00000762939453,"wires":[["2519e17c.744cee"],[]]},{"id":"2519e17c.744cee","type":"http request","z":"27eb140b.cb28bc","name":"","method":"use","ret":"txt","url":"","x":686.5,"y":119.33332061767578,"wires":[["697eab89.d9de54"]]},{"id":"697eab89.d9de54","type":"json","z":"27eb140b.cb28bc","name":"","x":858.5,"y":138.00001525878906,"wires":[[]]},{"id":"38198b47.d044c4","type":"subflow","name":"userSOInfo","info":"","in":[{"x":93,"y":266.99999237060547,"wires":[{"id":"150ae813.208c58"}]}],"out":[{"x":1040.0000610351562,"y":175.00000762939453,"wires":[{"id":"5d778bef.63e584","port":0},{"id":"1cc5f566.f196fb","port":1}]},{"x":795,"y":292.00000762939453,"wires":[{"id":"150ae813.208c58","port":1}]}]},{"id":"150ae813.208c58","type":"function","z":"38198b47.d044c4","name":"requestBuilding","func":"msg.data = msg.payload;\nif(msg.payload.userSOId !== undefined && msg.accessToken !== undefined){\n    var url = \"http://api.servioticy.com:9090/\";\n    msg.url = url + msg.payload.userSOId + \"/streams/infos/lastUpdate\";\n    msg.method = \"GET\";\n    msg.headers = { \"Authorization\" : msg.accessToken};\n    msg.payload = {};\n    return  [msg,null]; \n}else{\n    msg.payload.error = true;\n    msg.payload.errorMsg = 'A problem during the recuperation of the user service object infor.A required infomration is missong.'\n    return [null, msg];\n}\n    \n","outputs":"2","noerr":0,"x":273.6666564941406,"y":271.6666488647461,"wires":[["88e546c7.755308"],[]]},{"id":"88e546c7.755308","type":"http request","z":"38198b47.d044c4","name":"GetUserSOInfo","method":"use","ret":"txt","url":"","x":470.66668701171875,"y":203.6666488647461,"wires":[["1cc5f566.f196fb"]]},{"id":"5d778bef.63e584","type":"json","z":"38198b47.d044c4","name":"","x":937.7533569335938,"y":94.92550659179688,"wires":[[]]},{"id":"1cc5f566.f196fb","type":"function","z":"38198b47.d044c4","name":"is reponse empty","func":"if(msg.payload !== ''){\n    return [msg, null];    \n}else{\n    return [null, msg];\n}\n","outputs":"2","noerr":0,"x":664.7512817382812,"y":88.08071899414062,"wires":[["5d778bef.63e584"],[]]},{"id":"37552a67.bcc566","type":"websocket-listener","path":"/seatstatus","wholemsg":"true"},{"id":"b14980fd.4135","type":"websocket out","z":"cdd9e74d.a4cc78","name":"","server":"37552a67.bcc566","client":"","x":1804.2500610351562,"y":218.25003814697266,"wires":[]},{"id":"1cc037d5.1fba48","type":"websocket in","z":"cdd9e74d.a4cc78","name":"","server":"37552a67.bcc566","client":"","x":141.74996948242188,"y":171.0000228881836,"wires":[["94e91ca.f1316e"]]},{"id":"effdc0c9.8a239","type":"inject","z":"cdd9e74d.a4cc78","name":"Trigger","topic":"","payload":"all","payloadType":"str","repeat":"","crontab":"","once":false,"x":518.2499694824219,"y":410.2500228881836,"wires":[["b6e8a729.c57118"]]},{"id":"94e91ca.f1316e","type":"function","z":"cdd9e74d.a4cc78","name":"Dispatcher","func":"if(msg.cmd === \"accessToken\") {\n    context.accessToken = context.accessToken || msg.accessToken;\n} else if (msg.cmd === \"all\") { \n    // console.log(\"Send full update\");\n    context.accessToken = context.accessToken || msg.accessToken;\n    msg.accessToken = msg.accessToken || context.accessToken;\n\n    // console.log(\"msg.accessToken: \"+JSON.stringify(msg.accessToken));\n    return [null,msg];\n}\n","outputs":"2","noerr":0,"x":467.2499694824219,"y":218.2500228881836,"wires":[["b14980fd.4135"],["279ce16a.baa7de"]]},{"id":"b6e8a729.c57118","type":"function","z":"cdd9e74d.a4cc78","name":"Random Update","func":"var cols = 2;\nvar rows = 11;\n\nif('undefined' === typeof context.status) {\n    var status = [];\n    for(var r = 0; r < rows; r++)\n        status[r] = [];\n    \n    for(var r = 0; r < rows; r++)\n        for(var c = 0; c < cols; c++)\n            status[r][c] = Math.floor(Math.random() * 2) < 1 ? false : true;\n            \n    context.status = status;            \n}\n            \nif(msg.payload === \"all\") {\n    msg.payload = { allSeats : context.status };\n    return msg;\n}\n\nvar c = Math.floor(Math.random() * cols);\nvar r = Math.floor(Math.random() * rows);\nvar s = Math.floor(Math.random() * 2) < 1 ? false : true;\n\nvar newStatus = { column : c, row : r, status : s };\nmsg.payload = newStatus;\n\nreturn msg;","outputs":1,"x":722.2499694824219,"y":344.2500228881836,"wires":[["b14980fd.4135"]]},{"id":"8ae3ef1c.eb19f","type":"function","z":"cdd9e74d.a4cc78","name":"Build Single Query","func":"var url = \"http://api.servioticy.com:9090/\";\nurl += msg.soid;\nurl +=\"/streams/thermopile/lastUpdate\";\nmsg.url = url;\nmsg.method = \"GET\";\nmsg.headers = { \"Authorization\" : msg.accessToken };\nmsg.payload = {};\n    \n return msg; ","outputs":1,"x":457.2499694824219,"y":522.2500228881836,"wires":[["661ab2b1.6c73fc"]]},{"id":"65ded4b6.f1d36c","type":"inject","z":"cdd9e74d.a4cc78","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":237.24996948242188,"y":551.2500228881836,"wires":[["8ae3ef1c.eb19f"]]},{"id":"661ab2b1.6c73fc","type":"http request","z":"cdd9e74d.a4cc78","name":"","method":"use","ret":"txt","url":"","x":656.2499694824219,"y":523.2500228881836,"wires":[["5c11f5cc.71c9cc","636b8cbf.9d4094"]]},{"id":"5ff94338.1b670c","type":"function","z":"cdd9e74d.a4cc78","name":"Read Occupancy","func":"var channels = msg.payload.data[0].channels;\n// for(var c in channels)\nvar v = channels.Occupancy[\"current-value\"];\n\n// Remember here which state was there last and only change if \n// there was a change\n\n// var newMsg = {column: msg.column, row : msg.row, soid:msg.soid, status:v};\nvar newMsg = {table: msg.table, soid:msg.soid, status:v};\nmsg.payload = newMsg;\n\n// console.log(\"Status: \"+JSON.stringify(msg.payload));\n\nreturn msg;","outputs":1,"x":621.2499694824219,"y":716.2500228881836,"wires":[["636b8cbf.9d4094","d2fcdd2f.2c6f9"]]},{"id":"636b8cbf.9d4094","type":"debug","z":"cdd9e74d.a4cc78","name":"","active":false,"console":"false","complete":"true","x":869.2499694824219,"y":717.2500228881836,"wires":[]},{"id":"2908978b.427d88","type":"json","z":"cdd9e74d.a4cc78","name":"","x":410.2499694824219,"y":717.2500228881836,"wires":[["5ff94338.1b670c"]]},{"id":"279ce16a.baa7de","type":"function","z":"cdd9e74d.a4cc78","name":"Query All","func":"if(context.tables === undefined) {\n    context.tables = {  \n\t\t1: { id : \"14375534313739be3cdba399449089acd2d187c21c89d\", col : \"0\", row : \"0\" },\n\t\t2: { id : \"1437553432018ee52736a50f4481f844e6d2762240d1f\", col : \"0\", row : \"1\" },\n\t\t3: { id : \"143755343266472a8fb519f894d4999c10de84c0fcb70\", col : \"0\", row : \"2\" },\n\t\t4: { id : \"1437553433316d898465d2dec46b58676ccf4be062e0a\", col : \"0\", row : \"3\" },\n\t\t5: { id : \"143755343396311f91fe742824102858614aae61cf9dc\", col : \"0\", row : \"4\" },\n\t\t6: { id : \"1437553434604abf9a10c39af4c469e7a77dc610c8be3\", col : \"0\", row : \"5\" },\n\t\t7: { id : \"143755343525594b9a25825844ca6acb8a9b7a2cd4cd1\", col : \"0\", row : \"6\" },\n\t\t8: { id : \"143755343591267b81ef75c8343ea94ec89dce3c0e4a8\", col : \"0\", row : \"7\" },\n\t\t9: { id : \"1437553436577f84932e2d21c4596b8383feea90f1c15\", col : \"0\", row : \"8\" },\n\t\t10: { id : \"1437553437211a9a906bc07f741039c4dfb0c8a78848e\", col : \"0\", row : \"9\" },\t\t\n\t\t11: { id : \"143755343785487166232a3e7473d9468c40f47221fc3\", col : \"0\", row : \"11\" },\n\t\t12: { id : \"143755343849237346d7bcd2942eba2b6aabc73d049fd\", col : \"0\", row : \"10\" },\n\t\t13: { id : \"143755343913350cc1b2050d74eb6bfb18acbc2e61c26\", col : \"0\", row : \"11\" },\n\t\t14: { id : \"1437553439777f2dc11ec66b84eda89f1e3684f3b9de4\", col : \"0\", row : \"12\" },\n\t\t15: { id : \"143755344041661ed75d9e2d64786bf85228a671b704a\", col : \"0\", row : \"13\" },\n\t\t16: { id : \"1437553441128af124665d3264e5b97788fa2b236f276\", col : \"1\", row : \"1\" },\n\t\t17: { id : \"14375534417693d7c484847884f85b80d5ae617f27618\", col : \"1\", row : \"2\" },\n\t\t18: { id : \"1437553442413e616f898f1c747cfb1298d6035907f1f\", col : \"1\", row : \"3\" },\n\t\t19: { id : \"1437553443075a50e92918f114528ad264844d1c8b34c\", col : \"1\", row : \"4\" },\n\t\t20: { id : \"1437553443714d9ab8daf2cdb41b4b701006be0836262\", col : \"1\", row : \"5\" },\n\t\t21: { id : \"143755344434973c85e20563d4634abb79636643602ea\", col : \"1\", row : \"6\" },\n\t\t22: { id : \"1437553444993dd9b6eba2c104fbf8c27e521c7e0e9b6\", col : \"1\", row : \"7\" },\n\t\t23: { id : \"14375534456424489cf96af2a466687a769e6eaaeddbb\", col : \"1\", row : \"8\" },\n\t\t24: { id : \"1437553446299002cc0ceea314b25bfb192092c91f1e7\", col : \"1\", row : \"9\" },\n\t\t25: { id : \"143755344693085c5869a656646da82892f2610ffbd71\", col : \"1\", row : \"10\" },\n\t\t26: { id : \"143755344756005646dc30d0d48d8b8fcf6a83aa70e66\", col : \"1\", row : \"11\" },\n\t\t27: { id : \"143755344820072d35174028d43bf9f8b90c12648b801\", col : \"1\", row : \"12\" },\n        28: { id : \"14375534488461b1b562b419049ceb9e030a8cf274ee2\", col : \"1\", row : \"13\" }\n    };\n}\n\nif(msg.counter === undefined)\n    msg.counter = 1;\nelse\n    msg.counter++;\n\nif(msg.counter <= 28) {\n    msg.soid = context.tables[msg.counter].id; \n    msg.table = msg.counter;\n    /* msg.column = context.tables[msg.counter].col; \n    msg.row = context.tables[msg.counter].row; */\n    return msg;\n}","outputs":1,"x":242.91659545898438,"y":360.58333587646484,"wires":[["c8ba4a68.33fc48","8ae3ef1c.eb19f"]]},{"id":"c8ba4a68.33fc48","type":"delay","z":"cdd9e74d.a4cc78","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"milliseconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":209.24998474121094,"y":442.25000762939453,"wires":[["279ce16a.baa7de"]]},{"id":"5c11f5cc.71c9cc","type":"function","z":"cdd9e74d.a4cc78","name":"Filter Errors","func":"if(msg.statusCode === 200) {\n    return msg;\n}","outputs":1,"x":212.49996948242188,"y":717.2500228881836,"wires":[["2908978b.427d88"]]},{"id":"ca9ef493.ce8fe8","type":"inject","z":"cdd9e74d.a4cc78","name":"Polling","topic":"","payload":"all","payloadType":"str","repeat":"","crontab":"","once":false,"x":94,"y":268.9642562866211,"wires":[["57dbbced.772064"]]},{"id":"57dbbced.772064","type":"function","z":"cdd9e74d.a4cc78","name":"CMD (ALL)","func":"msg.cmd = \"all\";\nreturn msg;","outputs":1,"x":258.892822265625,"y":265.92859649658203,"wires":[["94e91ca.f1316e"]]},{"id":"d2fcdd2f.2c6f9","type":"function","z":"cdd9e74d.a4cc78","name":"tableSO Id","func":"var tablesSOId = [\n  \"1460204536267d04df543fe9e4e3eab3e40bcdf60fd02\",\n  \"146020458494938a10935b8544c249b9c7661483555ed\",\n  \"146020458495377cfb0b06a0b4d518c89790c42fc439f\",\n  \"14602045849584631a3d3570447fcb1c2fbfba14e190e\",\n  \"1460204584958fc401fe4886c45a1a080165c7e812194\",\n  \"14602045849851b2b83da1c3e4d68a0ee67a7d1186442\",\n  \"14602045849899d9e2a0bf7e94613b2e7b490284e6080\",\n  \"146020458500266e36409cd7a4f6d9bae23ab8fd7843b\",\n  \"1460204585006b91ab4b07ff54f98aea2c2932d0ae6ba\",\n  \"14602045850128dd53a0708654275ac6887b56992cc16\",\n  \"14602045850172bc258cfb33f47348f79f30c3caeabe3\",\n  \"1460204585021e3afe5adaa0b4dd0971537525ba7d235\",\n  \"1460204585029b21900619d894cbb97be994b692e3b93\",\n  \"1460204585029b3eb1af51ba649fcb0b6a279554436a9\",\n  \"1460204585033667eee2d546043cf8b6bf3c600cb72e6\",\n  \"14602045850411c79c9db6ef744bd978633f7cc67e028\",\n  \"1460204585057b417af7395a24455b20d1d0ea9255a5f\",\n  \"14602045850698cc5fc70194c4af7bf9adc12fdb64f2c\",\n  \"1460204585071c68b5f03f0ca4627a3e81f4ba5c7120a\",\n  \"14602045850784215b9d8482945e299c3c5e602510b04\",\n  \"14602045850902426014864c84eaeb8fd0be6768546fd\",\n  \"14602045850908dfd2d08abcc43e5be0414ea35241522\",\n  \"1460204585090c0c44803da3b475ba66c7c8917821630\",\n  \"14602045850997879c0c0565e4c45bc57fa6268960a06\",\n  \"146020458510207c9091b1b0f4bb7baa0f68cf4c3e8eb\",\n  \"14602045851062e0f9cae5ea44ffab3d99e4b99b6f2da\",\n  \"14602045851154220641bcd4d4b11a6cf5cbfc5a35849\",\n  \"146020458511844aa545ee2d149309e6ae6b023490387\"\n];\n\nmsg.payload.tableSOId = tablesSOId[msg.table-1];\nmsg.tableId =  tablesSOId[msg.table-1];\nmsg.thermopileInfo = msg.payload;\nmsg.payload.tableInfo = {};\n\nreturn msg;","outputs":1,"noerr":0,"x":848.4999694824219,"y":660.2501068115234,"wires":[["1b1bfd6a.2e0743"]]},{"id":"ff515a53.d7e3f8","type":"function","z":"cdd9e74d.a4cc78","name":"table status","func":"msg.tableInfo = {};\nvar tableInfo = {};\nvar channels = msg.payload.data[0].channels;\nif(channels.status['current-value'] === 'free'){\n    if(msg.thermopileInfo.status){\n        tableInfo.status = 'occupied';\n        tableInfo.name = 'Unknown';\n        \n    }else{\n        tableInfo.status = 'free';\n    }\n    tableInfo.table = msg.table;\n    tableInfo.tableId = msg.tableId;\n    msg.payload.tableInfo = tableInfo;\n    return [msg, null];\n}else if(channels.status['current-value'] === 'occupied'){\n    tableInfo.status = 'occupied';\n    tableInfo.occupiedBy = channels.occupiedBy['current-value'];\n    msg.payload.userSOId = tableInfo.occupiedBy;\n    \n}else if(channels.status['current-value'] === 'reserved'){\n    tableInfo.status = 'reserved';\n    tableInfo.occupiedBy = channels.occupiedBy['current-value'];\n    tableInfo.reservedFrom = channels.reservedFrom['current-value'];\n    tableInfo.reservedUntil = channels.reservedUntil['current-value'];\n    msg.payload.userSOId = tableInfo.occupiedBy;\n    \n}else{\n    node.error('Problem : This status doesn\\'t exist.');\n}\ntableInfo.table = msg.table;\nmsg.tableInfo = tableInfo;\nreturn [null, msg];","outputs":"2","noerr":0,"x":1007.5,"y":419.2500686645508,"wires":[["b14980fd.4135"],["92a1455c.0f9708"]]},{"id":"92a1455c.0f9708","type":"subflow:38198b47.d044c4","z":"cdd9e74d.a4cc78","name":"","x":1134.5003051757812,"y":542.9166030883789,"wires":[["2a43426a.56af3e"],["b14980fd.4135"]]},{"id":"2a43426a.56af3e","type":"function","z":"cdd9e74d.a4cc78","name":"put data on expected format","func":"if(msg.payload !== ''){\n    var channels = msg.payload.data[0].channels;\n    var name = channels.name['current-value'];\n    var email = channels.email['current-value'];\n    var phone = channels.phoneNumber['current-value'];\n    var status = channels.status['current-value'];\n    \n    msg.payload.userInfo = {name:name, email:email, phone:phone, status:status};\n    msg.payload.tableInfo = msg.tableInfo;\n    msg.payload.tableInfo.tableId = msg.tableId;\n}else{\n    msg.payload.userInfo = {name:'unknown', email:'unknown', phone:'unknown', status:'unknown'};\n    msg.payload = {};\n    msg.payload.tableInfo = msg.tableInfo;\n    msg.payload.tableInfo.tableId = msg.tableId;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1420.7566528320312,"y":464.31287384033203,"wires":[["b14980fd.4135","7161d1f9.77471"]]},{"id":"1b1bfd6a.2e0743","type":"subflow:27eb140b.cb28bc","z":"cdd9e74d.a4cc78","x":1197.0856170654297,"y":799.4351577758789,"wires":[["ff515a53.d7e3f8"],["b14980fd.4135"]]},{"id":"7161d1f9.77471","type":"debug","z":"cdd9e74d.a4cc78","name":"","active":true,"console":"false","complete":"payload","x":1697.5149536132812,"y":705.5406875610352,"wires":[]}]