flows/tables_management
[{"id":"57f672b7.2f7f0c","type":"websocket-listener","z":"859adf94.95cb9","path":"/ws/reservation","wholemsg":"false"},{"id":"27eb140b.cb28bc","type":"subflow","name":"tableSOStatus","info":"recuperate the status of the table. \nThe required information are : \n1. tableOSId \n2. accessToken","in":[{"x":223,"y":159.99999237060547,"wires":[{"id":"f22dd067.f0629"}]}],"out":[{"x":1045.9999694824219,"y":138.9999771118164,"wires":[{"id":"697eab89.d9de54","port":0}]},{"x":1008.9999694824219,"y":245.99999237060547,"wires":[{"id":"f22dd067.f0629","port":1}]}]},{"id":"f22dd067.f0629","type":"function","z":"27eb140b.cb28bc","name":"table status request building","func":"msg.data = msg.payload;\nif(msg.payload.tableSOId !== undefined /*&& data.accessToken !== undefined*/){\n    var url = \"http://api.servioticy.com/\";\n    url += msg.data.tableSOId;\n    url += '/streams/info/lastUpdate';\n    msg.url = url;\n    msg.headers = { \"Authorization\" : \"ZGQ5NDgyYjktOTkzYS00ZGM3LWFlNGItZGQxYjMwZGE4ZWU2NTUzNjJmOTAtZTNjNy00ZWViLWEyZWItNTA3NzMzODc2ODg4\" };\n    msg.method = \"GET\";\n    msg.payload = {};\n    return [msg,null];\n}else{\n    msg.payload = {};\n    msg.payload.error = true;\n    msg.payload.errorMsg = \"We are sorry. A required information was missing.\";\n    return [null, msg];\n}","outputs":"2","noerr":0,"x":418.5,"y":161.00000762939453,"wires":[["2519e17c.744cee"],[]]},{"id":"2519e17c.744cee","type":"http request","z":"27eb140b.cb28bc","name":"","method":"use","ret":"txt","url":"","x":686.5,"y":119.33332061767578,"wires":[["697eab89.d9de54"]]},{"id":"697eab89.d9de54","type":"json","z":"27eb140b.cb28bc","name":"","x":858.5,"y":138.00001525878906,"wires":[[]]},{"id":"66e9b6f5.25cef8","type":"http response","z":"859adf94.95cb9","name":"Table Registration","x":1456.5149536132812,"y":371.66666412353516,"wires":[]},{"id":"6f6cd5f0.67d48c","type":"http in","z":"859adf94.95cb9","name":"Table registration","url":"/tableregistration","method":"post","swaggerDoc":"","x":243.51492309570312,"y":347.33329010009766,"wires":[["23fe3448.0afc1c"]]},{"id":"92060db5.d69","type":"http request","z":"859adf94.95cb9","name":"","method":"use","ret":"txt","url":"","x":1130.514892578125,"y":234.00000762939453,"wires":[["d0ceb4db.0449f8","450911ad.ad0bc"]]},{"id":"23fe3448.0afc1c","type":"function","z":"859adf94.95cb9","name":"Input verification","func":"//verify that all the required information are given \n//userSOId, tableSOId and (accessToken)\nvar data = msg.payload;\nif(data.userSOId !== undefined\n    && data.tableSOId !== undefined\n    && data.screenName !== undefined\n    /*&& data.accessToken != undefined*/\n    ){\n    return [msg,null];        \n}else{\n    msg.payload.error = true;\n    msg.payload.errorMsg = \"We are sorry. The registration is failed. A required information was missing.\";\n    return [null, msg];\n}\n","outputs":"2","noerr":0,"x":479.51495361328125,"y":344.66666412353516,"wires":[["b2a18e5c.cfb38"],["66e9b6f5.25cef8","355ced79.1d69a2"]]},{"id":"f41b336f.afa7e","type":"comment","z":"859adf94.95cb9","name":"Table Registration Documentation","info":"To register on a table we expect 3 required information from the front-end side:\nThese 3 information are : \n1. userOSId\n2. tableSOId\n3. accessToken : **for the moment this token is not required**\n\nIf one of this information is not given : we have to return an error.\n\nThe registration is allowed only under the following conditions:\n1. The user is not already registred in this table or another one.\n2. The user is not reserving a table\n3. The table is free (tableSO and not thermopileSO)\n\nIf the thermopile indicates that the table is occupied, the registration is possible.\n","x":385.5149230957031,"y":223.00000762939453,"wires":[]},{"id":"f3b5a424.cf2708","type":"function","z":"859adf94.95cb9","name":"isTableFree","func":"if(msg.payload.data[0].channels.status['current-value'] === 'free'){\n     var url = \"http://api.servioticy.com/\";\n    url += msg.data.tableSOId;\n    url += '/streams/info/';\n    msg.url = url;\n    // TODO : the accessToken must be changed.\n    msg.headers = { \"Authorization\" : \"ZGQ5NDgyYjktOTkzYS00ZGM3LWFlNGItZGQxYjMwZGE4ZWU2NTUzNjJmOTAtZTNjNy00ZWViLWEyZWItNTA3NzMzODc2ODg4\" };\n    msg.method = \"PUT\";\n    msg.payload = {\"channels\":{\"status\":{\"current-value\":\"occupied\"},\"occupiedBy\":{\"current-value\": msg.data.userSOId }, \"userScreenName\":{\"current-value\": msg.data.screenName }},\"lastUpdate\":Date.now()};\n    return [msg,null];\n}else{\n    msg.payload.error = true;\n    msg.payload.errorMsg = 'We are sorry. This table is already taken.';\n    return [null, msg];\n}","outputs":"2","noerr":0,"x":921.514892578125,"y":267.33333587646484,"wires":[["92060db5.d69"],["66e9b6f5.25cef8"]]},{"id":"b2a18e5c.cfb38","type":"subflow:27eb140b.cb28bc","z":"859adf94.95cb9","name":"","x":669.514892578125,"y":271.66666412353516,"wires":[["f3b5a424.cf2708","85ae32f4.f6623"],["66e9b6f5.25cef8","262be35b.b83aac"]]},{"id":"d0ceb4db.0449f8","type":"json","z":"859adf94.95cb9","name":"","x":1369.5149536132812,"y":243.33333587646484,"wires":[["66e9b6f5.25cef8"]]},{"id":"88994efc.51bda","type":"http in","z":"859adf94.95cb9","name":"Free Table","url":"/freetable","method":"post","swaggerDoc":"","x":249.51492309570312,"y":531.0000228881836,"wires":[["5d67690c.b168d8","84d37ed5.03791"]]},{"id":"655e29a6.0b7228","type":"comment","z":"859adf94.95cb9","name":"Freeing Table Documentation","info":"To Free a table the front-end side has to send the following information:\n1. tableId\n2. userSOId\n3. accessToken\n\nThe freeing of the table is allowed only under the following conditions:\n1. the table must be occupied or reserved by the user tring to free it\n2. if the table is free we have to verify what's the status of the thermopile; It can be occupied. We have to change the error message.","x":292.5149230957031,"y":436.00000762939453,"wires":[]},{"id":"5d67690c.b168d8","type":"function","z":"859adf94.95cb9","name":"Input verification","func":"//verify that all the required information are given \n//userSOId, tableSOId and (accessToken)\nvar data = msg.payload;\nif(data.userSOId !== undefined\n    && data.tableSOId !== undefined\n    /*&& data.accessToken != undefined*/\n    ){\n    return [msg,null];        \n}else{\n    msg.payload.error = true;\n    msg.payload.errorMsg = \"We are sorry. The registration is failed. A required information was missing.\";\n    return [null, msg];\n}\n","outputs":"2","noerr":0,"x":450.68157958984375,"y":532.3333282470703,"wires":[["54cad6b1.b464a8"],["dcdf9fe0.85882","fd9af38e.c802a"]]},{"id":"dcdf9fe0.85882","type":"http response","z":"859adf94.95cb9","name":"Free Table","x":1265.6815185546875,"y":685.3333511352539,"wires":[]},{"id":"f8700205.9abad","type":"http request","z":"859adf94.95cb9","name":"","method":"use","ret":"txt","url":"","x":1219.6815795898438,"y":442.3333206176758,"wires":[["2711d5cc.f39d2a"]]},{"id":"2711d5cc.f39d2a","type":"json","z":"859adf94.95cb9","name":"","x":1326.6816101074219,"y":516.6666564941406,"wires":[["dcdf9fe0.85882"]]},{"id":"2d8f07c0.c65988","type":"comment","z":"859adf94.95cb9","name":"Reserving Table Documentation","info":"The required information to reserve a table are : \n1. tableSOId\n2. userSOId\n3. startTime\n4. duration\n5. accessToken\n\nThe reservation is only allowed under the following conditions:\n1. the table is not reserved\n2. the user is already registring on this table\n","x":272.5149688720703,"y":930.0000381469727,"wires":[]},{"id":"54cad6b1.b464a8","type":"subflow:27eb140b.cb28bc","z":"859adf94.95cb9","name":"","x":766.6815185546875,"y":489.3333206176758,"wires":[["e6db30e0.5be05"],["dcdf9fe0.85882"]]},{"id":"85ae32f4.f6623","type":"debug","z":"859adf94.95cb9","name":"","active":true,"console":"false","complete":"false","x":894.7499389648438,"y":152.16741180419922,"wires":[]},{"id":"262be35b.b83aac","type":"debug","z":"859adf94.95cb9","name":"","active":true,"console":"false","complete":"false","x":847.7341918945312,"y":328.1715316772461,"wires":[]},{"id":"355ced79.1d69a2","type":"debug","z":"859adf94.95cb9","name":"","active":true,"console":"false","complete":"false","x":683.5148315429688,"y":397.5407409667969,"wires":[]},{"id":"84d37ed5.03791","type":"debug","z":"859adf94.95cb9","name":"","active":true,"console":"false","complete":"false","x":385.51483154296875,"y":601.5407104492188,"wires":[]},{"id":"fd9af38e.c802a","type":"debug","z":"859adf94.95cb9","name":"","active":true,"console":"false","complete":"false","x":671.5148315429688,"y":610.5407104492188,"wires":[]},{"id":"e6db30e0.5be05","type":"function","z":"859adf94.95cb9","name":"IsTableOccupied","func":"var data = msg.data;\nvar tableStatus = msg.payload.data[0].channels.status['current-value'];\nif(tableStatus === 'occupied' || tableStatus === 'reserved'){\n    var occupiedBy = msg.payload.data[0].channels.occupiedBy['current-value'];\n    if(occupiedBy === data.userSOId){\n        var url = \"http://api.servioticy.com/\";\n        url += data.tableSOId;\n        url += '/streams/info/';\n        msg.url = url;\n        // TODO : the accessToken must be changed.\n        msg.headers = { \"Authorization\" : \"ZGQ5NDgyYjktOTkzYS00ZGM3LWFlNGItZGQxYjMwZGE4ZWU2NTUzNjJmOTAtZTNjNy00ZWViLWEyZWItNTA3NzMzODc2ODg4\" };\n        msg.method = \"PUT\";\n        msg.payload = {\"channels\":{\"status\":{\"current-value\":\"free\"},\"occupiedBy\":{\"current-value\": \"\" },\"userScreenName\":{\"current-value\":\"\"}, \"reservedFrom\":{\"current-value\":0}, \"reservedUntil\":{\"current-value\":0}},\"lastUpdate\":Date.now()};\n        return [msg,null];\n    }else{\n        msg.payload = {};\n        msg.payload.error = true;\n        msg.payload.errorMsg = 'We are sorry. You are not allowed to free this table.';\n        return [null, msg];\n    }\n     \n}else{\n    msg.payload.error = true;\n    msg.payload.errorMsg = 'This table is already free.';\n    return [null, msg];\n}","outputs":"2","noerr":0,"x":1011.7488403320312,"y":458.03040313720703,"wires":[["f8700205.9abad"],["dcdf9fe0.85882"]]},{"id":"bf76fc88.4a79f","type":"function","z":"859adf94.95cb9","name":"Input verification","func":"//verify that all the required information are given \n//userSOId, tableSOId and (accessToken)\nvar data = msg.payload;\nif(data.userSOId !== undefined\n    && data.tableSOId !== undefined\n    && data.startTime !== undefined\n    && data.duration !== undefined\n    && data.screenName !== undefined\n    /*&& data.accessToken != undefined*/\n    ){\n    return [msg,null];        \n}else{\n    msg.payload.error = true;\n    msg.payload.errorMsg = \"We are sorry. The reservation is failed. A required information was missing.\";\n    return [null, msg];\n}\n","outputs":"2","noerr":0,"x":492.5148468017578,"y":1005.5407104492188,"wires":[["3cfdb9a0.f25c66"],["32b60169.2a408e"]]},{"id":"3cfdb9a0.f25c66","type":"subflow:27eb140b.cb28bc","z":"859adf94.95cb9","name":"","x":662.514892578125,"y":966.5407104492188,"wires":[["bc9a64e8.a03a68"],["32b60169.2a408e"]]},{"id":"bc9a64e8.a03a68","type":"function","z":"859adf94.95cb9","name":"IsTableOccupied","func":"var data = msg.data;\nvar tableStatus = msg.payload.data[0].channels.status['current-value'];\nif(tableStatus === 'occupied'){\n    var occupiedBy = msg.payload.data[0].channels.occupiedBy['current-value'];\n    if(occupiedBy === data.userSOId){\n        var url = \"http://api.servioticy.com/\";\n        url += data.tableSOId;\n        url += '/streams/info/';\n        msg.url = url;\n        // TODO : the accessToken must be changed.\n        msg.headers = { \"Authorization\" : \"ZGQ5NDgyYjktOTkzYS00ZGM3LWFlNGItZGQxYjMwZGE4ZWU2NTUzNjJmOTAtZTNjNy00ZWViLWEyZWItNTA3NzMzODc2ODg4\" };\n        msg.method = \"PUT\";\n        msg.payload = {\"channels\":{\"status\":{\"current-value\":\"reserved\"},\"occupiedBy\":{\"current-value\": data.userSOId }, \"userScreenName\":{\"current-value\": msg.data.screenName }, \"reservedFrom\":{\"current-value\":data.startTime}, \"reservedUntil\":{\"current-value\":(data.startTime+data.duration)}},\"lastUpdate\":Date.now()};\n        return [msg,null];\n    }else{\n        msg.payload = {};\n        msg.payload.error = true;\n        msg.payload.errorMsg = 'We are sorry. You are not allowed to reserve this table.';\n        return [null, msg];\n    }\n     \n}else{\n    msg.payload.error = true;\n    msg.payload.errorMsg = 'We are sorry. You must be registred on the table before reserving it.';\n    return [null, msg];\n}","outputs":"2","noerr":0,"x":803.514892578125,"y":869.5407104492188,"wires":[["acf3700e.b64e4","380bcc87.5282e4"],["8fbed975.03b8d8","79584fdf.e7a65"]]},{"id":"acf3700e.b64e4","type":"http request","z":"859adf94.95cb9","name":"","method":"use","ret":"txt","url":"","x":1120.0000305175781,"y":900.6666870117188,"wires":[["56079eb7.eb74f","f62e647e.1082b8"]]},{"id":"56079eb7.eb74f","type":"json","z":"859adf94.95cb9","name":"","x":1503.3333282470703,"y":943.6666870117188,"wires":[["32b60169.2a408e"]]},{"id":"f62e647e.1082b8","type":"delay","z":"859adf94.95cb9","name":"cancelReservation","pauseType":"delay","timeout":"900","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1353.1667785644531,"y":846,"wires":[["5deba685.59ba88"]]},{"id":"e4008eb1.eac1c","type":"http request","z":"859adf94.95cb9","name":"","method":"use","ret":"txt","url":"","x":1534.1667785644531,"y":713,"wires":[["f93b1808.cc6ab8"]]},{"id":"5deba685.59ba88","type":"function","z":"859adf94.95cb9","name":"Cancel reservation request building","func":"var url = \"http://api.servioticy.com/\";\nurl += msg.data.tableSOId;\nurl += '/streams/info/';\nmsg.url = url;\n// TODO : the accessToken must be changed.\nmsg.headers = { \"Authorization\" : \"ZGQ5NDgyYjktOTkzYS00ZGM3LWFlNGItZGQxYjMwZGE4ZWU2NTUzNjJmOTAtZTNjNy00ZWViLWEyZWItNTA3NzMzODc2ODg4\" };\nmsg.method = \"PUT\";\nmsg.payload = {\"channels\":{\"status\":{\"current-value\":\"free\"},\"occupiedBy\":{\"current-value\":\"\" }},\"lastUpdate\":Date.now()};\nreturn msg;","outputs":1,"noerr":0,"x":1262.8334045410156,"y":754.6666870117188,"wires":[["e4008eb1.eac1c"]]},{"id":"8fbed975.03b8d8","type":"debug","z":"859adf94.95cb9","name":"","active":true,"console":"false","complete":"false","x":1032.1667175292969,"y":1124.3334350585938,"wires":[]},{"id":"4603dc79.b04574","type":"websocket in","z":"859adf94.95cb9","name":"Table Reservation","server":"57f672b7.2f7f0c","client":"","x":238.3333282470703,"y":1129.666748046875,"wires":[["39e3198c.a93616"]]},{"id":"39e3198c.a93616","type":"json","z":"859adf94.95cb9","name":"","x":329.5000305175781,"y":1048.6666870117188,"wires":[["bf76fc88.4a79f"]]},{"id":"32b60169.2a408e","type":"websocket out","z":"859adf94.95cb9","name":"Reservation","server":"57f672b7.2f7f0c","client":"","x":1809.6666870117188,"y":1092.666748046875,"wires":[]},{"id":"d53b9ba2.8484a8","type":"function","z":"859adf94.95cb9","name":"Expire Reservation","func":"msg.payload.expireReservation = true;\nreturn msg;","outputs":1,"noerr":0,"x":1806.6295698084002,"y":899.7039952443392,"wires":[["32b60169.2a408e"]]},{"id":"f93b1808.cc6ab8","type":"json","z":"859adf94.95cb9","name":"","x":1686.3946075439453,"y":793.4806518554688,"wires":[["d53b9ba2.8484a8"]]},{"id":"380bcc87.5282e4","type":"debug","z":"859adf94.95cb9","name":"","active":true,"console":"false","complete":"false","x":1287.514892578125,"y":975.5407104492188,"wires":[]},{"id":"79584fdf.e7a65","type":"json","z":"859adf94.95cb9","name":"","x":1299.64990234375,"y":1140.540771484375,"wires":[["32b60169.2a408e"]]},{"id":"e4d57241.28799","type":"function","z":"859adf94.95cb9","name":"Update Tables Definitions","func":"var tablesSOId = [\n  \"1460204536267d04df543fe9e4e3eab3e40bcdf60fd02\",\n  \"146020458494938a10935b8544c249b9c7661483555ed\",\n  \"146020458495377cfb0b06a0b4d518c89790c42fc439f\",\n  \"14602045849584631a3d3570447fcb1c2fbfba14e190e\",\n  \"1460204584958fc401fe4886c45a1a080165c7e812194\",\n  \"14602045849851b2b83da1c3e4d68a0ee67a7d1186442\",\n  \"14602045849899d9e2a0bf7e94613b2e7b490284e6080\",\n  \"146020458500266e36409cd7a4f6d9bae23ab8fd7843b\",\n  \"1460204585006b91ab4b07ff54f98aea2c2932d0ae6ba\",\n  \"14602045850128dd53a0708654275ac6887b56992cc16\",\n  \"14602045850172bc258cfb33f47348f79f30c3caeabe3\",\n  \"1460204585021e3afe5adaa0b4dd0971537525ba7d235\",\n  \"1460204585029b21900619d894cbb97be994b692e3b93\",\n  \"1460204585029b3eb1af51ba649fcb0b6a279554436a9\",\n  \"1460204585033667eee2d546043cf8b6bf3c600cb72e6\",\n  \"14602045850411c79c9db6ef744bd978633f7cc67e028\",\n  \"1460204585057b417af7395a24455b20d1d0ea9255a5f\",\n  \"14602045850698cc5fc70194c4af7bf9adc12fdb64f2c\",\n  \"1460204585071c68b5f03f0ca4627a3e81f4ba5c7120a\",\n  \"14602045850784215b9d8482945e299c3c5e602510b04\",\n  \"14602045850902426014864c84eaeb8fd0be6768546fd\",\n  \"14602045850908dfd2d08abcc43e5be0414ea35241522\",\n  \"1460204585090c0c44803da3b475ba66c7c8917821630\",\n  \"14602045850997879c0c0565e4c45bc57fa6268960a06\",\n  \"146020458510207c9091b1b0f4bb7baa0f68cf4c3e8eb\",\n  \"14602045851062e0f9cae5ea44ffab3d99e4b99b6f2da\",\n  \"14602045851154220641bcd4d4b11a6cf5cbfc5a35849\",\n  \"146020458511844aa545ee2d149309e6ae6b023490387\"\n];\n\nif(msg.cpt === undefined){\n    msg.cpt = 0;\n}\n\ntableId = tablesSOId[msg.cpt];\nmsg.url = \"http://api.servioticy.com/\" + tableId;\nmsg.payload = {\"name\":\"LibraryTable\",\"description\":\"This service object represents the tables in the library, it contains also the histogram\",\"streams\":{\"infos\":{\"channels\":{\"status\":{\"type\":\"string\"},\"occupiedBy\":{\"type\":\"string\"},\"userScreenName\":{\"type\":\"string\"},\"reservedFrom\":{\"type\":\"number\"},\"reservedUntil\":{\"type\":\"number\"}}},\"histogram\":{\"channels\":{\"sunday\":{\"type\":\"number\"},\"thursday\":{\"type\":\"number\"},\"wednesday\":{\"type\":\"number\"},\"tuesday\":{\"type\":\"number\"},\"friday\":{\"type\":\"number\"},\"saturday\":{\"type\":\"number\"}}}}};\nmsg.headers = {\"Content-Type\":\"application/json\",\"Authorization\":\"ZGQ5NDgyYjktOTkzYS00ZGM3LWFlNGItZGQxYjMwZGE4ZWU2NTUzNjJmOTAtZTNjNy00ZWViLWEyZWItNTA3NzMzODc2ODg4\"};\nmsg.method = 'PUT';\n\nreturn msg;","outputs":1,"noerr":0,"x":538.74853515625,"y":1923.050710214151,"wires":[["4b59d53a.a6fc0c","7f192269.f09f5c"]]},{"id":"4b59d53a.a6fc0c","type":"http request","z":"859adf94.95cb9","name":"","method":"use","ret":"txt","url":"","x":844.7434692382812,"y":1987.9793701171877,"wires":[["c240b3e2.8000a"]]},{"id":"c240b3e2.8000a","type":"debug","z":"859adf94.95cb9","name":"","active":true,"console":"false","complete":"false","x":1063.75146484375,"y":1982.184509277344,"wires":[]},{"id":"56f6dea8.48a4f","type":"inject","z":"859adf94.95cb9","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":181.74459838867188,"y":1927.3516235351562,"wires":[["e4d57241.28799"]]},{"id":"7f192269.f09f5c","type":"function","z":"859adf94.95cb9","name":"msg.cpt ++","func":"if(msg.cpt<27){\n    msg.cpt++;\n    return msg;\n}","outputs":1,"noerr":0,"x":561.7451782226562,"y":2057.0484619140625,"wires":[["e4d57241.28799"]]},{"id":"d3458e6e.8ae0a","type":"function","z":"859adf94.95cb9","name":"Initialize Tables Value","func":"var tablesSOId = [\n  \"1460204536267d04df543fe9e4e3eab3e40bcdf60fd02\",\n  \"146020458494938a10935b8544c249b9c7661483555ed\",\n  \"146020458495377cfb0b06a0b4d518c89790c42fc439f\",\n  \"14602045849584631a3d3570447fcb1c2fbfba14e190e\",\n  \"1460204584958fc401fe4886c45a1a080165c7e812194\",\n  \"14602045849851b2b83da1c3e4d68a0ee67a7d1186442\",\n  \"14602045849899d9e2a0bf7e94613b2e7b490284e6080\",\n  \"146020458500266e36409cd7a4f6d9bae23ab8fd7843b\",\n  \"1460204585006b91ab4b07ff54f98aea2c2932d0ae6ba\",\n  \"14602045850128dd53a0708654275ac6887b56992cc16\",\n  \"14602045850172bc258cfb33f47348f79f30c3caeabe3\",\n  \"1460204585021e3afe5adaa0b4dd0971537525ba7d235\",\n  \"1460204585029b21900619d894cbb97be994b692e3b93\",\n  \"1460204585029b3eb1af51ba649fcb0b6a279554436a9\",\n  \"1460204585033667eee2d546043cf8b6bf3c600cb72e6\",\n  \"14602045850411c79c9db6ef744bd978633f7cc67e028\",\n  \"1460204585057b417af7395a24455b20d1d0ea9255a5f\",\n  \"14602045850698cc5fc70194c4af7bf9adc12fdb64f2c\",\n  \"1460204585071c68b5f03f0ca4627a3e81f4ba5c7120a\",\n  \"14602045850784215b9d8482945e299c3c5e602510b04\",\n  \"14602045850902426014864c84eaeb8fd0be6768546fd\",\n  \"14602045850908dfd2d08abcc43e5be0414ea35241522\",\n  \"1460204585090c0c44803da3b475ba66c7c8917821630\",\n  \"14602045850997879c0c0565e4c45bc57fa6268960a06\",\n  \"146020458510207c9091b1b0f4bb7baa0f68cf4c3e8eb\",\n  \"14602045851062e0f9cae5ea44ffab3d99e4b99b6f2da\",\n  \"14602045851154220641bcd4d4b11a6cf5cbfc5a35849\",\n  \"146020458511844aa545ee2d149309e6ae6b023490387\"\n];\n\nif(msg.cpt === undefined){\n    msg.cpt = 0;\n}\n\ntableId = tablesSOId[msg.cpt];\nmsg.url = \"http://api.servioticy.com/\" + tableId + \"/streams/info\";\nmsg.payload = {\"channels\":{\"status\":{\"current-value\":\"free\"},\"occupiedBy\":{\"current-value\": \"\" },\"userScreenName\":{\"current-value\":\"\"}, \"reservedFrom\":{\"current-value\":0}, \"reservedUntil\":{\"current-value\":0}},\"lastUpdate\":Date.now()};\nmsg.headers = {\"Content-Type\":\"application/json\",\"Authorization\":\"ZGQ5NDgyYjktOTkzYS00ZGM3LWFlNGItZGQxYjMwZGE4ZWU2NTUzNjJmOTAtZTNjNy00ZWViLWEyZWItNTA3NzMzODc2ODg4\"};\nmsg.method = 'PUT';\n\nreturn msg;","outputs":1,"noerr":0,"x":553.5719604492188,"y":2225.039052499307,"wires":[["62942e54.5b74f","a4ada4e3.11a808"]]},{"id":"62942e54.5b74f","type":"http request","z":"859adf94.95cb9","name":"","method":"use","ret":"txt","url":"","x":869.56689453125,"y":2289.9677124023438,"wires":[["42f062ba.2a4c7c"]]},{"id":"42f062ba.2a4c7c","type":"debug","z":"859adf94.95cb9","name":"","active":true,"console":"false","complete":"false","x":1088.5748901367188,"y":2284.1728515625,"wires":[]},{"id":"eb46734.414fa9","type":"inject","z":"859adf94.95cb9","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":282.5680236816406,"y":2193.339833749307,"wires":[["d3458e6e.8ae0a"]]},{"id":"a4ada4e3.11a808","type":"function","z":"859adf94.95cb9","name":"msg.cpt ++","func":"if(msg.cpt<27){\n    msg.cpt++;\n    return msg;\n}","outputs":1,"noerr":0,"x":586.568603515625,"y":2359.0368041992188,"wires":[["d3458e6e.8ae0a"]]},{"id":"2aa54f58.1bb35","type":"function","z":"859adf94.95cb9","name":"Delete Tables SO","func":"var tablesSOId = [\"1458320828217d4d0e81087b24cf5aaa63f039358e743\",\n    \"1458320828218562495ac9d1f42d888cfe15481291b63\",\n    \"145832082821865bff542e2134a77981bf5ab7f35866b\",\n    \"1458320828218a1042a4a10ee49eab0334aa119ac9fe8\",\n    \"1458320828219eda6dd74d28940f78bd05448fc1650dd\",\n    \"1458320828225dc08079c323f49dc847bfbc14a0075d2\",\n    \"1458320828225f9636d5b5d084bcbb66136a56b67fde2\",\n    \"14583208282273f558e86a29f478e9a20e04900220a40\",\n    \"145832082822741bfcd532cb946ecab10ce47d99225e4\",\n    \"1458320828227b2ffb38870b84e558a26b2ef39ab1f6a\",\n    \"145832082823091baf81b37dc4c9eafe2f10e501847eb\",\n    \"14583208282309dd8c48b45c8423199d9342af90808d2\",\n    \"1458320828231a013375870854ea687fe345b7d74917c\",\n    \"1458320828233b4e1ae4b48fd4295b4f511aa624b125e\",\n    \"14583208282363e209282b1bb458b98ba2ba7ed36ed87\",\n    \"14583208282384b2f5afcf38c49f1b09ade4c78b6b65c\",\n    \"1458320828238a4976066c9e641fb86874b3dd475b9ee\",\n    \"1458320828240b08b3c75b21e4399b1ca28529e5213e9\",\n    \"145832082824199874a0c5e614282b20340d468971311\",\n    \"14583208282439a1bc6b1d93d44548b7b85fdb9b6e07c\",\n    \"145832082824407de9d35fef642e495aed6f1648ae8da\",\n    \"1458320828244df17985a0bf14dfea85c0218c9f24b8d\",\n    \"1458320828246d2cb7c916f884cabb0dd2d49c1da418f\",\n    \"145832082824742b19cd5007c440aaaa60a2e7b8cbd34\",\n    \"14583208282480ddc9ff3515f4eff86656a6d754cc18a\",\n    \"1458320828250920028fcea4d4ab3a8c6ccbf0dc2195d\",\n    \"1458320828251ef7c488fb3e544dd87f30eec2f5d2865\",\n    \"1458320828252e82742804da14c3e99fb40da979ddc26\"];\n\nif(msg.cpt === undefined){\n    msg.cpt = 0;\n}\n\ntableId = tablesSOId[msg.cpt];\nmsg.url = \"http://api.servioticy.com/\" + tableId;\nmsg.headers = {\"Content-Type\":\"application/json\",\"Authorization\":\"ZGQ5NDgyYjktOTkzYS00ZGM3LWFlNGItZGQxYjMwZGE4ZWU2NTUzNjJmOTAtZTNjNy00ZWViLWEyZWItNTA3NzMzODc2ODg4\"};\nmsg.method = 'DELETE';\n\nreturn msg;","outputs":1,"noerr":0,"x":516.514892578125,"y":2528.5403952727447,"wires":[["f668a3f6.37116","3438e2ac.a7b4fe"]]},{"id":"f668a3f6.37116","type":"http request","z":"859adf94.95cb9","name":"","method":"use","ret":"txt","url":"","x":842.5098266601562,"y":2593.4690551757812,"wires":[["165964ae.662c3b"]]},{"id":"165964ae.662c3b","type":"debug","z":"859adf94.95cb9","name":"","active":true,"console":"false","complete":"false","x":1061.517822265625,"y":2587.6741943359375,"wires":[]},{"id":"1ed3542b.770c3c","type":"inject","z":"859adf94.95cb9","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":255.51095581054688,"y":2496.8411765227447,"wires":[["2aa54f58.1bb35"]]},{"id":"3438e2ac.a7b4fe","type":"function","z":"859adf94.95cb9","name":"msg.cpt ++","func":"if(msg.cpt<27){\n    msg.cpt++;\n    return msg;\n}","outputs":1,"noerr":0,"x":559.5115356445312,"y":2662.5381469726562,"wires":[["2aa54f58.1bb35"]]},{"id":"1c1c4b60.ea8c05","type":"function","z":"859adf94.95cb9","name":"Create Tables SO","func":"\nif(msg.cpt === undefined){\n    msg.cpt = 0;\n}\n\n\nmsg.url = \"http://api.servioticy.com/\";\nmsg.payload = {\"name\":\"LibraryTable\",\"description\":\"This service object represents the tables in the library, it contains also the histogram\",\"public\":\"true\",\"streams\":{\"info\":{\"channels\":{\"status\":{\"type\":\"string\"},\"occupiedBy\":{\"type\":\"string\"},\"userScreenName\":{\"type\":\"string\"},\"reservedFrom\":{\"type\":\"number\"},\"reservedUntil\":{\"type\":\"number\"}}},\"histogram\":{\"channels\":{\"sunday\":{\"type\":\"number\"},\"thursday\":{\"type\":\"number\"},\"wednesday\":{\"type\":\"number\"},\"tuesday\":{\"type\":\"number\"},\"friday\":{\"type\":\"number\"},\"saturday\":{\"type\":\"number\"}}}}, \"customFields\": {},\"actions\": [],\"properties\": []};\nmsg.headers = {\"Content-Type\":\"application/json\",\"Authorization\":\"ZGQ5NDgyYjktOTkzYS00ZGM3LWFlNGItZGQxYjMwZGE4ZWU2NTUzNjJmOTAtZTNjNy00ZWViLWEyZWItNTA3NzMzODc2ODg4\"};\nmsg.method = 'POST';\n\nreturn msg;","outputs":1,"noerr":0,"x":444.514892578125,"y":1653.5407104492188,"wires":[["a1dc2bc1.279e88","5d7492f7.7d62dc"]]},{"id":"a1dc2bc1.279e88","type":"http request","z":"859adf94.95cb9","name":"","method":"use","ret":"txt","url":"","x":770.5098266601562,"y":1718.4693703522555,"wires":[["17c42b4a.40c835"]]},{"id":"17c42b4a.40c835","type":"debug","z":"859adf94.95cb9","name":"","active":true,"console":"false","complete":"false","x":989.517822265625,"y":1712.6745095124118,"wires":[]},{"id":"d7f8bd46.62fb9","type":"inject","z":"859adf94.95cb9","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":183.51095581054688,"y":1621.8414916992188,"wires":[["1c1c4b60.ea8c05"]]},{"id":"5d7492f7.7d62dc","type":"function","z":"859adf94.95cb9","name":"msg.cpt ++","func":"if(msg.cpt<26){\n    msg.cpt++;\n    return msg;\n}","outputs":1,"noerr":0,"x":487.51153564453125,"y":1787.5384621491305,"wires":[["1c1c4b60.ea8c05"]]},{"id":"2217fade.fa4846","type":"function","z":"859adf94.95cb9","name":"Initialize Tables Value","func":"var tablesSOId = [\n  \"1460204536267d04df543fe9e4e3eab3e40bcdf60fd02\",\n  \"146020458494938a10935b8544c249b9c7661483555ed\",\n  \"146020458495377cfb0b06a0b4d518c89790c42fc439f\",\n  \"14602045849584631a3d3570447fcb1c2fbfba14e190e\",\n  \"1460204584958fc401fe4886c45a1a080165c7e812194\",\n  \"14602045849851b2b83da1c3e4d68a0ee67a7d1186442\",\n  \"14602045849899d9e2a0bf7e94613b2e7b490284e6080\",\n  \"146020458500266e36409cd7a4f6d9bae23ab8fd7843b\",\n  \"1460204585006b91ab4b07ff54f98aea2c2932d0ae6ba\",\n  \"14602045850128dd53a0708654275ac6887b56992cc16\",\n  \"14602045850172bc258cfb33f47348f79f30c3caeabe3\",\n  \"1460204585021e3afe5adaa0b4dd0971537525ba7d235\",\n  \"1460204585029b21900619d894cbb97be994b692e3b93\",\n  \"1460204585029b3eb1af51ba649fcb0b6a279554436a9\",\n  \"1460204585033667eee2d546043cf8b6bf3c600cb72e6\",\n  \"14602045850411c79c9db6ef744bd978633f7cc67e028\",\n  \"1460204585057b417af7395a24455b20d1d0ea9255a5f\",\n  \"14602045850698cc5fc70194c4af7bf9adc12fdb64f2c\",\n  \"1460204585071c68b5f03f0ca4627a3e81f4ba5c7120a\",\n  \"14602045850784215b9d8482945e299c3c5e602510b04\",\n  \"14602045850902426014864c84eaeb8fd0be6768546fd\",\n  \"14602045850908dfd2d08abcc43e5be0414ea35241522\",\n  \"1460204585090c0c44803da3b475ba66c7c8917821630\",\n  \"14602045850997879c0c0565e4c45bc57fa6268960a06\",\n  \"146020458510207c9091b1b0f4bb7baa0f68cf4c3e8eb\",\n  \"14602045851062e0f9cae5ea44ffab3d99e4b99b6f2da\",\n  \"14602045851154220641bcd4d4b11a6cf5cbfc5a35849\",\n  \"146020458511844aa545ee2d149309e6ae6b023490387\"\n];\n\n\ntableId = tablesSOId[0];\nmsg.url = \"http://api.servioticy.com/\" + tableId + \"/streams/info\";\nmsg.payload = {\"channels\":{\"status\":{\"current-value\":\"occupied\"},\"occupiedBy\":{\"current-value\": \"000000\" },\"userScreenName\":{\"current-value\":\"okba16\"}, \"reservedFrom\":{\"current-value\":0}, \"reservedUntil\":{\"current-value\":0}},\"lastUpdate\":Date.now()};\nmsg.headers = {\"Content-Type\":\"application/json\",\"Authorization\":\"ZGQ5NDgyYjktOTkzYS00ZGM3LWFlNGItZGQxYjMwZGE4ZWU2NTUzNjJmOTAtZTNjNy00ZWViLWEyZWItNTA3NzMzODc2ODg4\"};\nmsg.method = 'PUT';\n\nreturn msg;","outputs":1,"noerr":0,"x":493.51483154296875,"y":2791.0419921875,"wires":[["48c95d48.7d06f4"]]},{"id":"48c95d48.7d06f4","type":"http request","z":"859adf94.95cb9","name":"","method":"use","ret":"txt","url":"","x":809.509765625,"y":2855.9706520905365,"wires":[["cfd77766.f43238"]]},{"id":"cfd77766.f43238","type":"debug","z":"859adf94.95cb9","name":"","active":true,"console":"false","complete":"false","x":1028.5177612304688,"y":2850.175791250693,"wires":[]},{"id":"62b1f286.26732c","type":"inject","z":"859adf94.95cb9","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":222.51089477539062,"y":2759.3427734375,"wires":[["2217fade.fa4846"]]},{"id":"42db42a1.0d230c","type":"function","z":"859adf94.95cb9","name":"get Tables' values","func":"var tablesSOId = [\n  \"1460204536267d04df543fe9e4e3eab3e40bcdf60fd02\",\n  \"146020458494938a10935b8544c249b9c7661483555ed\",\n  \"146020458495377cfb0b06a0b4d518c89790c42fc439f\",\n  \"14602045849584631a3d3570447fcb1c2fbfba14e190e\",\n  \"1460204584958fc401fe4886c45a1a080165c7e812194\",\n  \"14602045849851b2b83da1c3e4d68a0ee67a7d1186442\",\n  \"14602045849899d9e2a0bf7e94613b2e7b490284e6080\",\n  \"146020458500266e36409cd7a4f6d9bae23ab8fd7843b\",\n  \"1460204585006b91ab4b07ff54f98aea2c2932d0ae6ba\",\n  \"14602045850128dd53a0708654275ac6887b56992cc16\",\n  \"14602045850172bc258cfb33f47348f79f30c3caeabe3\",\n  \"1460204585021e3afe5adaa0b4dd0971537525ba7d235\",\n  \"1460204585029b21900619d894cbb97be994b692e3b93\",\n  \"1460204585029b3eb1af51ba649fcb0b6a279554436a9\",\n  \"1460204585033667eee2d546043cf8b6bf3c600cb72e6\",\n  \"14602045850411c79c9db6ef744bd978633f7cc67e028\",\n  \"1460204585057b417af7395a24455b20d1d0ea9255a5f\",\n  \"14602045850698cc5fc70194c4af7bf9adc12fdb64f2c\",\n  \"1460204585071c68b5f03f0ca4627a3e81f4ba5c7120a\",\n  \"14602045850784215b9d8482945e299c3c5e602510b04\",\n  \"14602045850902426014864c84eaeb8fd0be6768546fd\",\n  \"14602045850908dfd2d08abcc43e5be0414ea35241522\",\n  \"1460204585090c0c44803da3b475ba66c7c8917821630\",\n  \"14602045850997879c0c0565e4c45bc57fa6268960a06\",\n  \"146020458510207c9091b1b0f4bb7baa0f68cf4c3e8eb\",\n  \"14602045851062e0f9cae5ea44ffab3d99e4b99b6f2da\",\n  \"14602045851154220641bcd4d4b11a6cf5cbfc5a35849\",\n  \"146020458511844aa545ee2d149309e6ae6b023490387\"\n];\nif(msg.cpt === undefined){\n    msg.cpt = 0;\n}\n\ntableId = tablesSOId[msg.cpt];\nmsg.url = \"http://api.servioticy.com/\" + tableId +'/streams/info/lastUpdate';\nmsg.headers = {\"Content-Type\":\"application/json\",\"Authorization\":\"ZGQ5NDgyYjktOTkzYS00ZGM3LWFlNGItZGQxYjMwZGE4ZWU2NTUzNjJmOTAtZTNjNy00ZWViLWEyZWItNTA3NzMzODc2ODg4\"};\nmsg.method = 'GET';\n\nreturn msg;","outputs":1,"noerr":0,"x":448.51483154296875,"y":2982.0419921875,"wires":[["cf6db76a.7d38e8"]]},{"id":"cf6db76a.7d38e8","type":"http request","z":"859adf94.95cb9","name":"","method":"use","ret":"txt","url":"","x":774.509765625,"y":3046.9706520905365,"wires":[["b801b21a.4df3f"]]},{"id":"b801b21a.4df3f","type":"debug","z":"859adf94.95cb9","name":"","active":true,"console":"false","complete":"false","x":993.5177612304688,"y":3041.175791250693,"wires":[]},{"id":"9f2a6ac9.e746b8","type":"inject","z":"859adf94.95cb9","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":187.51089477539062,"y":2950.3427734375,"wires":[["42db42a1.0d230c"]]},{"id":"23412f60.8dae7","type":"function","z":"859adf94.95cb9","name":"msg.cpt ++","func":"if(msg.cpt<27){\n    msg.cpt++;\n    return msg;\n}","outputs":1,"noerr":0,"x":491.511474609375,"y":3116.0397438874115,"wires":[[]]},{"id":"c662c40d.8f3a18","type":"function","z":"859adf94.95cb9","name":"Register on first table","func":"var tablesSOId = [\n  \"1460204536267d04df543fe9e4e3eab3e40bcdf60fd02\",\n  \"146020458494938a10935b8544c249b9c7661483555ed\",\n  \"146020458495377cfb0b06a0b4d518c89790c42fc439f\",\n  \"14602045849584631a3d3570447fcb1c2fbfba14e190e\",\n  \"1460204584958fc401fe4886c45a1a080165c7e812194\",\n  \"14602045849851b2b83da1c3e4d68a0ee67a7d1186442\",\n  \"14602045849899d9e2a0bf7e94613b2e7b490284e6080\",\n  \"146020458500266e36409cd7a4f6d9bae23ab8fd7843b\",\n  \"1460204585006b91ab4b07ff54f98aea2c2932d0ae6ba\",\n  \"14602045850128dd53a0708654275ac6887b56992cc16\",\n  \"14602045850172bc258cfb33f47348f79f30c3caeabe3\",\n  \"1460204585021e3afe5adaa0b4dd0971537525ba7d235\",\n  \"1460204585029b21900619d894cbb97be994b692e3b93\",\n  \"1460204585029b3eb1af51ba649fcb0b6a279554436a9\",\n  \"1460204585033667eee2d546043cf8b6bf3c600cb72e6\",\n  \"14602045850411c79c9db6ef744bd978633f7cc67e028\",\n  \"1460204585057b417af7395a24455b20d1d0ea9255a5f\",\n  \"14602045850698cc5fc70194c4af7bf9adc12fdb64f2c\",\n  \"1460204585071c68b5f03f0ca4627a3e81f4ba5c7120a\",\n  \"14602045850784215b9d8482945e299c3c5e602510b04\",\n  \"14602045850902426014864c84eaeb8fd0be6768546fd\",\n  \"14602045850908dfd2d08abcc43e5be0414ea35241522\",\n  \"1460204585090c0c44803da3b475ba66c7c8917821630\",\n  \"14602045850997879c0c0565e4c45bc57fa6268960a06\",\n  \"146020458510207c9091b1b0f4bb7baa0f68cf4c3e8eb\",\n  \"14602045851062e0f9cae5ea44ffab3d99e4b99b6f2da\",\n  \"14602045851154220641bcd4d4b11a6cf5cbfc5a35849\",\n  \"146020458511844aa545ee2d149309e6ae6b023490387\"\n];\nif(msg.cpt === undefined){\n    msg.cpt = 0;\n}\n\ntableId = tablesSOId[msg.cpt];\nmsg.url = \"http://api.servioticy.com/\" + tableId +'/streams/info';\nmsg.payload = {\"channels\":{\"status\":{\"current-value\":\"occupied\"},\"occupiedBy\":{\"current-value\": \"145812538601346724da3740f4c41adc8f8c431015e7f\" },\"userScreenName\":{\"current-value\":\"okba16\"}, \"reservedFrom\":{\"current-value\":0}, \"reservedUntil\":{\"current-value\":0}},\"lastUpdate\":Date.now()};\nmsg.headers = {\"Content-Type\":\"application/json\",\"Authorization\":\"ZGQ5NDgyYjktOTkzYS00ZGM3LWFlNGItZGQxYjMwZGE4ZWU2NTUzNjJmOTAtZTNjNy00ZWViLWEyZWItNTA3NzMzODc2ODg4\"};\nmsg.method = 'PUT';\n\nreturn msg;","outputs":1,"noerr":0,"x":336.0039367675781,"y":3264.042236328125,"wires":[["19c54105.a16bff"]]},{"id":"19c54105.a16bff","type":"http request","z":"859adf94.95cb9","name":"","method":"use","ret":"txt","url":"","x":651.9988708496094,"y":3328.9708962311615,"wires":[["fc5092d8.e0fa7"]]},{"id":"fc5092d8.e0fa7","type":"debug","z":"859adf94.95cb9","name":"","active":true,"console":"false","complete":"false","x":871.0068664550781,"y":3323.176035391318,"wires":[]},{"id":"4f87c334.3facfc","type":"inject","z":"859adf94.95cb9","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":155,"y":3211.343017578125,"wires":[["c662c40d.8f3a18"]]},{"id":"450911ad.ad0bc","type":"debug","z":"859adf94.95cb9","name":"","active":true,"console":"false","complete":"false","x":1409.514892578125,"y":119.54073333740234,"wires":[]}]