flows/userSOManagement
[{"id":"801567b3.5e0638","type":"http request","z":"70b5c684.eb3c18","name":"","method":"use","ret":"txt","url":"","x":251.51483154296875,"y":396.00000762939453,"wires":[["db964701.6ade68","cbb1d580.b93e48"]]},{"id":"cbb1d580.b93e48","type":"http response","z":"70b5c684.eb3c18","name":"","x":230.51483154296875,"y":484.00000762939453,"wires":[]},{"id":"951707cd.e3f708","type":"function","z":"70b5c684.eb3c18","name":"Preparing the request","func":"var url = \"http://api.servioticy.com/\";\nmsg.url = url;\nmsg.method = \"POST\";\nmsg.headers = { \"Authorization\" : msg.payload.accesstoken};\nmsg.payload = {\"name\":\"BeSeatedUser\",\"description\":\"A service object representing a user of BeSeated Application\",\"streams\":{\"name\":{\"channels\":{\"value\":{\"type\":\"string\"}}},\"email\":{\"channels\":{\"value\":{\"type\":\"string\"}}},\"phoneNumber\":{\"channels\":{\"value\":{\"type\":\"string\"}}},\"status\":{\"channels\":{\"value\":{\"type\":\"string\"}}}},\"customFields\":{},\"actions\":[],\"properties\":[]};\n\nreturn msg; \n","outputs":1,"noerr":0,"x":272.51483154296875,"y":282.00000762939453,"wires":[["801567b3.5e0638"]]},{"id":"8750c06f.4dd4c","type":"http in","z":"70b5c684.eb3c18","name":"createUserSO","url":"/createuserso","method":"post","swaggerDoc":"","x":234.51483154296875,"y":185.0000228881836,"wires":[["951707cd.e3f708"]]},{"id":"db964701.6ade68","type":"debug","z":"70b5c684.eb3c18","name":"","active":true,"console":"false","complete":"true","x":525.5148315429688,"y":360.00000762939453,"wires":[]},{"id":"875e985c.649d28","type":"http in","z":"70b5c684.eb3c18","name":"GetUserInfo","url":"/userinfo","method":"get","swaggerDoc":"","x":771.5148315429688,"y":268.0000534057617,"wires":[["6f9b576.39849a8","1dbec6c9.cee349"]]},{"id":"2ddf40ca.825a4","type":"http response","z":"70b5c684.eb3c18","name":"GetUserInfo","x":1513.5149536132812,"y":261.00000762939453,"wires":[]},{"id":"385becbd.e93404","type":"function","z":"70b5c684.eb3c18","name":"Preparing updating request","func":"var data = msg.payload;\nvar url = \"http://api.servioticy.com:9090/\";\nurl += msg.payload.userSOId;\nurl += '/streams/infos';\nmsg.url = url;\nmsg.method = \"PUT\";\nmsg.headers = { \"Authorization\" : msg.payload.apiToken};\nmsg.payload = {\"channels\":{\"email\":{\"current-value\":data.email},\"name\":{\"current-value\":data.name},\"phoneNumber\":{\"current-value\":data.phoneNumber},\"status\":{\"current-value\":data.status}}, \"lastUpdate\": Date.now()};\n\nreturn msg; \n","outputs":1,"noerr":0,"x":583.5148315429688,"y":633.5406875610352,"wires":[["72ae42c9.c5123c","82d2e4d2.800018"]]},{"id":"72ae42c9.c5123c","type":"http request","z":"70b5c684.eb3c18","name":"","method":"use","ret":"txt","url":"","x":849.5148315429688,"y":649.5406875610352,"wires":[["da0154ba.6d5d58","82d2e4d2.800018"]]},{"id":"da0154ba.6d5d58","type":"http response","z":"70b5c684.eb3c18","name":"","x":1096.5149536132812,"y":644.5406875610352,"wires":[]},{"id":"82d2e4d2.800018","type":"debug","z":"70b5c684.eb3c18","name":"","active":true,"console":"false","complete":"true","x":1032.514892578125,"y":523.5407104492188,"wires":[]},{"id":"6f9b576.39849a8","type":"debug","z":"70b5c684.eb3c18","name":"","active":true,"console":"false","complete":"true","x":1039.514892578125,"y":281.5407409667969,"wires":[]},{"id":"8f793981.91b3c8","type":"debug","z":"70b5c684.eb3c18","name":"","active":true,"console":"false","complete":"true","x":1365.514892578125,"y":118.54073333740234,"wires":[]},{"id":"6b2791e1.c7ba4","type":"debug","z":"70b5c684.eb3c18","name":"","active":true,"console":"false","complete":"true","x":1302.514892578125,"y":292.5407409667969,"wires":[]},{"id":"1dbec6c9.cee349","type":"function","z":"70b5c684.eb3c18","name":"requestBuilding","func":"msg.data = msg.payload;\nif(msg.payload.userSOId !== undefined && msg.payload.accessToken !== undefined){\n    var url = \"http://api.servioticy.com:9090/\";\n    msg.url = url + msg.payload.userSOId + \"/streams/infos/lastUpdate\";\n    msg.method = \"GET\";\n    msg.headers = { \"Authorization\" : msg.payload.accessToken};\n    msg.payload = {};\n    return  [msg,null]; \n}else{\n    msg.payload.error = true;\n    msg.payload.errorMsg = 'A problem during the recuperation of the user service object infor.A required infomration is missong.'\n    return [null, msg];\n}\n    \n","outputs":"2","noerr":0,"x":849.5148315429688,"y":148.54074096679688,"wires":[["7e6a61df.dd397"],["2ddf40ca.825a4"]]},{"id":"7e6a61df.dd397","type":"http request","z":"70b5c684.eb3c18","name":"GetUserSOInfo","method":"use","ret":"txt","url":"","x":1046.5148620605469,"y":80.54074096679688,"wires":[["f964e792.276bf8"]]},{"id":"f964e792.276bf8","type":"json","z":"70b5c684.eb3c18","name":"","x":1229.6016235351562,"y":183.79959106445312,"wires":[["2ddf40ca.825a4"]]},{"id":"8a6835c3.138e98","type":"inject","z":"70b5c684.eb3c18","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":473.7430419921875,"y":133.37519073486328,"wires":[["1dbec6c9.cee349"]]},{"id":"955fbeb5.0d477","type":"http in","z":"70b5c684.eb3c18","name":"createUserSO","url":"/userinfo","method":"post","swaggerDoc":"","x":510.51483154296875,"y":534.5406875610352,"wires":[["385becbd.e93404","82d2e4d2.800018"]]}]